<div class="tab-pane fade show active" id="alerts" role="tabpanel" aria-labelledby="alerts-tab">
    <div class="row">
        <div class="col">
            <h2>Alerts</h2>
            <p class="bd-lead">Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</p>
            <h3 id="alertsExample">Examples</h3>
            <div class="bd-example">
                <div class="alert alert-primary" role="alert">
                    This is a primary alert. <span class="sr-only">This alert contains dark blue text on a ligher blue background.</span>
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#alertPrimary"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="alertPrimary">&lt;div class="alert alert-primary" role="alert"&gt;&lt;p&gt;<span>This is a primary alert.</span>&lt;/p&gt;&lt;/div&gt;</code></pre>
            </figure>

            <div class="bd-example">
                <div class="alert alert-secondary" role="alert">
                    This is a secondary alert. <span class="sr-only"> This alert contains black text on a gray background.</span>
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#alertSecondary"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="alertSecondary" class="language-html">&lt;div class="alert alert-secondary" role="alert"&gt;<span>This is a secondary alert.</span>&lt;/div&gt;</code></pre>
            </figure>

            <div class="bd-example">
                <div class="alert alert-success" role="alert">
                    This is a success alert. <span class="sr-only">This alert contains dark green text on a lighter green background.</span>
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#alertSuccess"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="alertSuccess" class="language-html">&lt;div class="alert alert-success" role="alert"&gt;<span>This is a success alert.</span>&lt;/div&gt;</code></pre>
            </figure>

            <div class="bd-example">
                <div class="alert alert-danger" role="alert">
                    This is a danger alert. <span class="sr-only">This alert contains dark red text on a lighter red background.</span>
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#alertDanger"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="alertDanger" class="language-html">&lt;div class="alert alert-danger" role="alert"&gt;<span>This is a danger alert.</span>&lt;/div&gt;</code></pre>
            </figure>

            <div class="bd-example">
                <div class="alert alert-warning" role="alert">
                    This is a warning alert. <span class="sr-only">This alert contains dark yellow text on a lighter yellow background.</span>
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#alertWarning"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="alertWarning" class="language-html">&lt;div class="alert alert-warning" role="alert"&gt;<span>This is a warning alert.</span>&lt;/div&gt;</code></pre>
            </figure>

            <div class="bd-example">
                <div class="alert alert-info" role="alert">
                    <h4><i class="fas fa-info-circle"></i> Info</h4>
                    <p>This is an info alert. <span class="sr-only">This alert contains blue text on a lighter blue background.</span></p>
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#alertInfo"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="alertInfo" class="language-html">&lt;div class="alert alert-info" role="alert"&gt;<span>This is a info alert.</span>&lt;/div&gt;</code></pre>
            </figure>
            <hr />
            <h3 id="alertsMatchingLinkColor">Matching link color</h3>
            <p>Use the <code class="highlighter-rouge">.alert-link</code> utility class to quickly provide matching colored links within any alert.</p>
            <div class="bd-example">
                <div class="alert alert-primary" role="alert">
                    This is an alert with <a href="#" class="alert-link">linked text</a>. <span class="sr-only">This alert contains dark blue text on a ligher blue background.</span>
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#alertLink"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="alertLink" class="language-html">&lt;div class="alert alert-primary" role="alert"&gt;<span>This is an alert with</span> &lt;a href="#" class="alert-link"&gt;<span>linked text</span>&lt;/a&gt;<span>.</span>&lt;/div&gt;</code></pre>
            </figure>
            <hr />
            <h3 id="alertsDismissible">Dismissible</h3>
            <p>Dismiss any alert inline.</p>
            <div class="bd-example">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    This is an alert with a close button and a tooltip.
                    <button type="button" class="close" data-dismiss="alert" data-toggle="tooltip" data-placement="top" title="Close" aria-label="Close">
                        <i class="fas fa-window-close" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#alertDismiss"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="alertDismiss" class="language-html">&lt;div class="alert alert-success alert-dismissible fade show" role="alert"&gt;
    <span>This is an alert with a close button and a tooltip.</span>
    &lt;button type="button" class="close" data-dismiss="alert" data-toggle="tooltip" data-placement="top" title="Close" aria-label="Close"&gt;
        &lt;i class="fas fa-window-close" aria-hidden="true"&gt;&lt;/i&gt;
    &lt;/button&gt;
&lt;/div&gt;</code></pre>
            </figure>
        </div>

        <div class="col-2">
            <partial src="partials/cl/subnav/alerts-subnav.html" />
        </div>
    </div>
</div>
