<div id="alerts" class="component">
    <h2>Alerts</h2>
    <p>Alerts are available for any length of text, as well as an optional <a href="#dismiss">dismiss button</a>.</p>
    <div class="card">
        <div class="card-body">
            <div class="alert alert-primary" role="alert">
                This is a primary alert. <span class="sr-only">This alert contains dark blue text on a ligher blue background.</span>
            </div>
        </div>
        <div class="card-footer">
            <figure>
                <code>
                    &lt;div class="alert alert-primary" role="alert"&gt;This is a primary alert.&lt;/div&gt;
                </code>
            </figure>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="alert alert-secondary" role="alert">
                This is a secondary alert. <span class="sr-only"> This alert contains black text on a gray background.</span>
            </div>
        </div>
        <div class="card-footer">
            <figure>
                <code>
                    &lt;div class="alert alert-secondary" role="alert"&gt;This is a secondary alert.&lt;/div&gt;
                </code>
            </figure>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="alert alert-success" role="alert">
                This is a success alert. <span class="sr-only">This alert contains dark green text on a lighter green background.</span>
            </div>
        </div>
        <div class="card-footer">
            <figure>
                <code>
                    &lt;div class="alert alert-success" role="alert"&gt;This is a success alert.&lt;/div&gt;
                </code>
            </figure>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="alert alert-danger" role="alert">
                This is a danger alert. <span class="sr-only">This alert contains dark red text on a lighter red background.</span>
            </div>
        </div>
        <div class="card-footer">
            <figure>
                <code>
                    &lt;div class="alert alert-danger" role="alert"&gt;This is a danger alert.&lt;/div&gt;
                </code>
            </figure>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="alert alert-warning" role="alert">
                This is a warning alert. <span class="sr-only">This alert contains dark yellow text on a lighter yellow background.</span>
            </div>
        </div>
        <div class="card-footer">
            <figure>
                <code>
                    &lt;div class="alert alert-warning" role="alert"&gt;This is a warning alert.&lt;/div&gt;
                </code>
            </figure>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="alert alert-info" role="alert">
                This is a info alert. <span class="sr-only">This alert contains blue text on a lighter blue background.</span>
            </div>
        </div>
        <div class="card-footer">
            <figure>
                <code>
                    &lt;div class="alert alert-info" role="alert"&gt;This is a info alert.&lt;/div&gt;
                </code>
            </figure>
        </div>
    </div>
    <h3>Link color</h3>
    <p>Use the <code class="highlighter-rouge">.alert-link</code> utility class to quickly provide matching colored links within any alert.</p>
    <div class="card">
        <div class="card-body">
            <div class="alert alert-primary" role="alert">
                This is an alert with <a href="#" class="alert-link">linked text</a>. <span class="sr-only">This alert contains dark blue text on a ligher blue background.</span>
            </div>
        </div>
        <div class="card-footer">
            <figure>
                <code>
                    &lt;div class="alert alert-primary" role="alert"&gt;This is an alert with &lt;a href="#" class="alert-link"&gt;linked text&lt;/a&gt;&lt;/div&gt;.
                </code>
            </figure>
        </div>
    </div>
    <h3 id="dismiss">Dismissing</h3>
    <p>Dismiss any alert inline.</p>
    <div class="card">
        <div class="card-body">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Click the X icon to close this alert.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="card-footer">
            <figure>
                <code>
                    &lt;div class="alert alert-warning alert-dismissible fade show" role="alert"&gt;
                        Click the X icono to close this alert.
                        &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;
                            &lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;
                        &lt;/button&gt;
                </code>
            </figure>
        </div>
    </div>
</div>