<div class="tab-pane fade" id="v-pills-badges" role="tabpanel" aria-labelledby="v-pills-badges-tab">
    <h2>Badges</h2>
    <p class="bd-lead">Use for displaying counts and labels.</p>
    <h3>Header with a badge label</h3>
    <div class="bd-example">
        <div class="h1">Example h1 heading <span class="badge badge-secondary">New</span></div>
    </div>
    <div class="bd-clipboard">
        <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#badgeHeader"><i class="far fa-clipboard fa-2x"></i></button>
    </div>
    <figure class="highlight">
        <pre><code id="badgeHeader">&lt;h1&gt;<span>Example h1 heading</span>&lt;span class="badge badge-secondary"&gt;<span>New</span>&lt;/span&gt;&lt;/h1&gt;</code></pre>
    </figure>
    <hr />
    <h3>List with a badge label</h3>
    <div class="bd-example">
        <ul>
            <li>List item <span class="badge badge-primary">New</span></li>
            <li>List item</li>
            <li>List item</li>
        </ul>
    </div>
    <div class="bd-clipboard">
        <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#badgeList"><i class="far fa-clipboard fa-2x"></i></button>
    </div>
    <figure class="highlight">
        <pre><code id="badgeList">&lt;ul&gt;
    &lt;li&gt;<span>List item</span>&lt;span class="badge badge-primary"&gt;<span>New</span>&lt;/span&gt;&lt;/li&gt;
    &lt;li&gt;<span>List item</span>&lt;/li&gt;
    &lt;li&gt;<span>List item</span>&lt;/li&gt;
&lt;/ul&gt;</code></pre>
    </figure>
    <hr />
    <h3>Button with a badge counter</h3>
    <div class="bd-example">
        <button type="button" class="btn btn-primary">
            Notifications <span class="badge badge-light">4</span>
        </button>
    </div>
    <div class="bd-clipboard">
        <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#badgeCounter"><i class="far fa-clipboard fa-2x"></i></button>
    </div>
    <figure class="highlight">
        <pre><code id="badgeCounter">&lt;button type="button" class="btn btn-primary"&gt;
    <span>Notifications</span> &lt;span class="badge badge-light"&gt;<span>4</span>&lt;/span&gt;
&lt;/button&gt;</code></pre>
    </figure>
    <hr />
    <h3>Contextual varioations</h3>
    <p>Add any of the below mentioned modifier classes to change the appearance of a badge.</p>
    <div class="bd-example">
        <span class="badge badge-primary">Primary</span>
    </div>
    <div class="bd-clipboard">
        <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#badgePrimary"><i class="far fa-clipboard fa-2x"></i></button>
    </div>
    <figure class="highlight">
        <pre><code id="badgePrimary">&lt;span class="badge badge-primary"&gt;<span>Primary</span>&lt;/span&gt;</code></pre>
    </figure>
    <div class="bd-example">
        <span class="badge badge-secondary">Secondary</span>
    </div>
    <div class="bd-clipboard">
        <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#badgeSecondary"><i class="far fa-clipboard fa-2x"></i></button>
    </div>
    <figure class="highlight">
        <pre><code id="badgeSecondary">&lt;span class="badge badge-secondary"&gt;<span>Secondary</span>&lt;/span&gt;</code></pre>
    </figure>
    <div class="bd-example">
        <span class="badge badge-success">Success</span>
    </div>
    <div class="bd-clipboard">
        <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#badgeSuccess"><i class="far fa-clipboard fa-2x"></i></button>
    </div>
    <figure class="highlight">
        <pre><code id="badgeSuccess">&lt;span class="badge badge-success"&gt;<span>Success</span>&lt;/span&gt;</code></pre>
    </figure>
    <div class="bd-example">
        <span class="badge badge-danger">Danger</span>
    </div>
    <div class="bd-clipboard">
        <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#badgeDanger"><i class="far fa-clipboard fa-2x"></i></button>
    </div>
    <figure class="highlight">
        <pre><code id="badgeDanger">&lt;span class="badge badge-danger"&gt;<span>Danger</span>&lt;/span&gt;</code></pre>
    </figure>
    <div class="bd-example">
        <span class="badge badge-warning">Warning</span>
    </div>
    <div class="bd-clipboard">
        <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#badgeWarning"><i class="far fa-clipboard fa-2x"></i></button>
    </div>
    <figure class="highlight">
        <pre><code id="badgeWarning">&lt;span class="badge badge-warning"&gt;<span>Warning</span>&lt;/span&gt;</code></pre>
    </figure>
    <div class="bd-example">
        <span class="badge badge-info">Info</span>
    </div>
    <div class="bd-clipboard">
        <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#badgeInfo"><i class="far fa-clipboard fa-2x"></i></button>
    </div>
    <figure class="highlight">
        <pre><code id="badgeInfo">&lt;span class="badge badge-info"&gt;<span>Info</span>&lt;/span&gt;</code></pre>
    </figure>
</div>
