<div id="badges" class="component">
    <h2>Badges</h2>
    <div class="bd-example">
        <div class="h1">Example heading <span class="badge badge-secondary">New</span></div>
    </div>
    <div class="bd-clipboard">
        <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
    </div>
    <figure class="highlight">
<pre><code class="language-html" data-lang="html"><span class="nt">&lt;h1&gt;</span>Example heading <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge badge-secondary"</span><span class="nt">&gt;</span>New<span class="nt">&lt;/span&gt;&lt;/h1&gt;</span>
<span class="nt">&lt;h2&gt;</span>Example heading <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge badge-secondary"</span><span class="nt">&gt;</span>New<span class="nt">&lt;/span&gt;&lt;/h2&gt;</span>
<span class="nt">&lt;h3&gt;</span>Example heading <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge badge-secondary"</span><span class="nt">&gt;</span>New<span class="nt">&lt;/span&gt;&lt;/h3&gt;</span>
<span class="nt">&lt;h4&gt;</span>Example heading <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge badge-secondary"</span><span class="nt">&gt;</span>New<span class="nt">&lt;/span&gt;&lt;/h4&gt;</span>
<span class="nt">&lt;h5&gt;</span>Example heading <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge badge-secondary"</span><span class="nt">&gt;</span>New<span class="nt">&lt;/span&gt;&lt;/h5&gt;</span>
<span class="nt">&lt;h6&gt;</span>Example heading <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"badge badge-secondary"</span><span class="nt">&gt;</span>New<span class="nt">&lt;/span&gt;&lt;/h6&gt;</span></code></pre>
    </figure>
    <!-- <div class="card">
        <div class="card-body">
            <h1>Example heading <span class="badge badge-secondary">New</span></h1>
            <h2>Example heading <span class="badge badge-secondary">New</span></h2>
            <h3>Example heading <span class="badge badge-secondary">New</span></h3>
            <h4>Example heading <span class="badge badge-secondary">New</span></h4>
            <h5>Example heading <span class="badge badge-secondary">New</span></h5>
            <h6>Example heading <span class="badge badge-secondary">New</span></h6>
        </div>
        <div class="card-footer">
            <figure>
                <code>
                    &lt;h1&gt;Example heading &lt;span class="badge badge-secondary"&gt;New&lt;/span&gt;&lt;/h1&gt; &lt;h2&gt;Example heading &lt;span class="badge badge-secondary"&gt;New&lt;/span&gt;&lt;/h2&gt; &lt;h3&gt;Example heading &lt;span class="badge badge-secondary"&gt;New&lt;/span&gt;&lt;/h3&gt; &lt;h4&gt;Example heading &lt;span class="badge badge-secondary"&gt;New&lt;/span&gt;&lt;/h4&gt; &lt;h5&gt;Example heading
                &lt;span class="badge badge-secondary"&gt;New&lt;/span&gt;&lt;/h5&gt; &lt;h6&gt;Example heading &lt;span class="badge badge-secondary"&gt;New&lt;/span&gt;&lt;/h6&gt;
                </code>
            </figure>
        </div>
    </div> -->
</div>
