<div class="tab-pane fade" id="breadcrumbs" role="tabpanel" aria-labelledby="breadcrumbs-tab">
    <h2>Breadcrumbs</h2>
    <p class="bd-lead">Indicate the current page’s location within a navigational hierarchy that automatically adds separators via CSS.</p>
    <h3>Example</h3>
    <p>Since breadcrumbs provide a navigation, it’s a good idea to add a meaningful label such as <code class="highlighter-rogue">aria-label="breadcrumb"</code> to describe the type of navigation provided in the <code class="highlighter-rogue">&lt;nav&gt;</code> element, as well as applying an aria-current="page" to the last item of the set to indicate that it represents the current page.</p>
    <p>For more information, see the <a href="https://www.w3.org/TR/wai-aria-practices/#breadcrumb" target="_blank">WAI-ARIA Authoring Practices for the breadcrumb pattern</a>.</p>
    <div class="bd-example">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Web Design Guide</a></li>
                <li class="breadcrumb-item"><a href="#">Component Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Breadcrumbs</li>
            </ol>
        </nav>
    </div>
    <div class="bd-clipboard">
        <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#breadcrumbs"><i class="far fa-clipboard fa-2x"></i></button>
    </div>
    <figure class="highlight">
        <pre><code id="breadcrumbs">&lt;nav aria-label="breadcrumb"&gt;
    &lt;ol class="breadcrumb"&gt;
        &lt;li class="breadcrumb-item"&gt;&lt;a href="#"&gt;<span>Web Design Guide</span>&lt;/a&gt;&lt;/li&gt;
        &lt;li class="breadcrumb-item"&gt;&lt;a href="#"&gt;<span>Component Library</span>&lt;/a&gt;&lt;/li&gt;
        &lt;li class="breadcrumb-item active" aria-current="page"&gt;<span>Breadcrumbs</span>&lt;/li&gt;
    &lt;/ol>
&lt;/nav&gt;</code></pre>
    </figure>
</div>
