<a href="#submenu3" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-user fa-fw mr-3"></span>
        <span class="menu-collapsed">Component Library</span>
        <span class="submenu-icon ml-auto"></span>
    </div>
</a>
<!-- Submenu content -->
<div id="submenu3" class="collapse sidebar-submenu">
    <a href="#accordion" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Accordion</span>
    </a>
    <a href="#alerts" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Alerts</span>
    </a>
    <a href="#badges" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Badges</span>
    </a>
    <a href="#breadcrumbs" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Breadcrumbs</span>
    </a>
    <a href="#buttons" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Buttons</span>
    </a>
    <a href="#buttonGroup" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Button group</span>
    </a>
    <a href="#card" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Card</span>
    </a>
    <a href="#carousel" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Carousel</span>
    </a>
    <a href="#dropdowns" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Dropdowns</span>
    </a>
    <a href="#forms" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Forms</span>
    </a>
    <a href="#Input group" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Input group</span>
    </a>
    <a href="#List group" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">List group</span>
    </a>
    <a href="#modal" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Modal</span>
    </a>
    <a href="#navigation" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Navigation</span>
    </a>
    <a href="#pagination" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Pagination</span>
    </a>
    <a href="#popovers" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Popovers</span>
    </a>
    <a href="#progress" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Progress</span>
    </a>
    <a href="#Tooltips" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Tooltips</span>
    </a>
</div>