<div class="nav flex-column nav-pills sticky-top sticky-offset" id="v-pills-tab" role="menu" aria-orientation="vertical">
    <li class="nav-link"><h2>COMPONENT LIBRARY MENU</h2></li>
    <a class="nav-link active" id="v-pills-alerts-tab" data-toggle="pill" href="#v-pills-alerts" role="menuitem" aria-controls="v-pills-alerts" aria-selected="true">Alerts</a>
    <a class="nav-link" id="v-pills-badges-tab" data-toggle="pill" href="#v-pills-badges" role="menuitem" aria-controls="v-pills-badges" aria-selected="false">badges</a>
    <a class="nav-link" id="v-pills-breadcrumbs-tab" data-toggle="pill" href="#v-pills-breadcrumbs" role="menuitem" aria-controls="v-pills-breadcrumbs" aria-selected="false">Breadcrumbs</a>
    <a class="nav-link" id="v-pills-buttons-tab" data-toggle="pill" href="#v-pills-buttons" role="menuitem" aria-controls="v-pills-buttons" aria-selected="false">Buttons</a>
    <a class="nav-link" id="v-pills-button-group-tab" data-toggle="pill" href="#v-pills-button-group" role="menuitem" aria-controls="v-pills-button-group" aria-selected="false">Button Group</a>
    <a class="nav-link" id="v-pills-cards-tab" data-toggle="pill" href="#v-pills-cards" role="menuitem" aria-controls="v-pills-cards" aria-selected="false">Cards</a>
    <a class="nav-link" id="v-pills-carousel-tab" data-toggle="pill" href="#v-pills-carousel" role="menuitem" aria-controls="v-pills-carousel" aria-selected="false">Carousel</a>
    <a class="nav-link" id="v-pills-collapse-tab" data-toggle="pill" href="#v-pills-collapse" role="menuitem" aria-controls="v-pills-collapse" aria-selected="false">Collapse</a>
    <a class="nav-link" id="v-pills-dropdowns-tab" data-toggle="pill" href="#v-pills-dropdowns" role="menuitem" aria-controls="v-pills-dropdowns" aria-selected="false">Dropdowns</a>
    <a class="nav-link" id="v-pills-forms-tab" data-toggle="pill" href="#v-pills-cards" role="menuitem" aria-controls="v-pills-cards" aria-selected="false">Forms</a>
    <a class="nav-link" id="v-pills-input-group-tab" data-toggle="pill" href="#v-pills-input-group" role="menuitem" aria-controls="v-pills-input-group" aria-selected="false">Input Group</a>
    <a class="nav-link" id="v-pills-list-group-tab" data-toggle="pill" href="#v-pills-list-group" role="menuitem" aria-controls="v-pills-list-group" aria-selected="false">List Group</a>
    <a class="nav-link" id="v-pills-modals-tab" data-toggle="pill" href="#v-pills-modals" role="menuitem" aria-controls="v-pills-modals" aria-selected="false">Modals</a>
    <a class="nav-link" id="v-pills-navs-tab" data-toggle="pill" href="#v-pills-navs" role="menuitem" aria-controls="v-pills-navs" aria-selected="false">Navs</a>
    <a class="nav-link" id="v-pills-navbar-tab" data-toggle="pill" href="#v-pills-navbar" role="menuitem" aria-controls="v-pills-navbar" aria-selected="false">Navbar</a>
    <a class="nav-link" id="v-pills-pagination-tab" data-toggle="pill" href="#v-pills-pagination" role="menuitem" aria-controls="v-pills-pagination" aria-selected="false">Pagination</a>
    <a class="nav-link" id="v-pills-popovers-tab" data-toggle="pill" href="#v-pills-popovers" role="menuitem" aria-controls="v-pills-popovers" aria-selected="false">Popovers</a>
    <a class="nav-link" id="v-pills-tooltips-tab" data-toggle="pill" href="#v-pills-tooltips" role="menuitem" aria-controls="v-pills-tooltips" aria-selected="false">Tooltips</a>
</div>
