<nav id="sidebar-container" class="sidebar-expanded d-none d-md-block col-3">
    <div class="nav flex-column nav-pills sticky-top sticky-offset" id="tab" role="menu" aria-orientation="vertical">
        <li class="nav-link"><h2>COMPONENT LIBRARY MENU</h2></li>
        <a class="nav-link active" id="alerts-tab" data-toggle="pill" href="#alerts" role="menuitem" aria-controls="alerts" aria-selected="true">Alerts</a>
        <a class="nav-link" id="badges-tab" data-toggle="pill" href="#badges" role="menuitem" aria-control="badges" aria-selected="false">Badges</a>
        <a class="nav-link" id="breadcrumbs-tab" data-toggle="pill" href="#breadcrumbs" role="menuitem" aria-control="breadcrumbs" aria-selected="false">Breadcrumbs</a>
        <a class="nav-link" id="buttons-tab" data-toggle="pill" href="#buttons" role="menuitem" aria-control="buttons" aria-selected="false">Buttons</a>
        <a class="nav-link" id="button-group-tab" data-toggle="pill" href="#button-group" role="menuitem" aria-control="button-group" aria-selected="false">Button Group</a>
        <a class="nav-link" id="cards-tab" data-toggle="pill" href="#cards" role="menuitem" aria-control="cards" aria-selected="false">Cards</a>
        <a class="nav-link" id="carousel-tab" data-toggle="pill" href="#carousel" role="menuitem" aria-control="carousel" aria-selected="false">Carousel</a>
        <a class="nav-link" id="collapse-tab" data-toggle="pill" href="#collapse" role="menuitem" aria-control="collapse" aria-selected="false">Collapse</a>
        <a class="nav-link" id="dropdowns-tab" data-toggle="pill" href="#dropdowns" role="menuitem" aria-control="dropdowns" aria-selected="false">Dropdowns</a>
        <a class="nav-link" id="forms-tab" data-toggle="pill" href="#forms" role="menuitem" aria-controls="forms" aria-selected="false">Forms</a>
        <a class="nav-link" id="input-group-tab" data-toggle="pill" href="#input-group" role="menuitem" aria-controls="input-group" aria-selected="false">Input Group</a>
        <a class="nav-link" id="list-group-tab" data-toggle="pill" href="#list-group" role="menuitem" aria-control="list-group" aria-selected="false">List Group</a>
        <a class="nav-link" id="modals-tab" data-toggle="pill" href="#modals" role="menuitem" aria-control="modals" aria-selected="false">Modals</a>
        <a class="nav-link" id="navs-tab" data-toggle="pill" href="#navs" role="menuitem" aria-control="navs" aria-selected="false">Navs</a>
        <a class="nav-link" id="navbar-tab" data-toggle="pill" href="#navbar" role="menuitem" aria-control="navbar" aria-selected="false">Navbar</a>
        <a class="nav-link" id="pagination-tab" data-toggle="pill" href="#pagination" role="menuitem" aria-control="pagination" aria-selected="false">Pagination</a>
        <a class="nav-link" id="popovers-tab" data-toggle="pill" href="#popovers" role="menuitem" aria-control="popovers" aria-selected="false">Popovers</a>
        <a class="nav-link" id="tooltips-tab" data-toggle="pill" href="#tooltips" role="menuitem" aria-control="tooltips" aria-selected="false">Tooltips</a>
    </div>
</nav>
