<!-- This menu is hidden in bigger devices with d-sm-none.
The sidebar isn't proper for smaller screens imo, so this dropdown menu can keep all the useful sidebar itens exclusively for smaller screens  -->
<li class="nav-item dropdown d-sm-block d-md-none">
    <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
    <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
        <a class="dropdown-item" href="#alerts">Alerts</a>
        <a class="dropdown-item" href="#badges">Badges</a>
        <a class="dropdown-item" href="#breadcrumbs">Breadcrumbs</a>
        <a class="dropdown-item" href="#buttons">Buttons</a>
        <a class="dropdown-item" href="#buttonGroups">Button Groups</a>
        <a class="dropdown-item" href="#cards">Cards</a>
        <a class="dropdown-item" href="#Carousel">Carousel</a>
        <a class="dropdown-item" href="#collapse">Collapse/Expand</a>
        <a class="dropdown-item" href="#dropdowns">Dropdowns</a>
        <a class="dropdown-item" href="#forms">Forms</a>
        <a class="dropdown-item" href="#inputGroups">Input Groups</a>
        <a class="dropdown-item" href="#listGroups">List Groups</a>
        <a class="dropdown-item" href="#modal">Modal</a>
        <a class="dropdown-item" href="#navigation">Navigation</a>
        <a class="dropdown-item" href="#pagination">Pagination</a>
        <a class="dropdown-item" href="#popovers">Popovers</a>
        <a class="dropdown-item" href="#tooltips">Tooltips</a>
    </div>
</li>
<!-- Smaller devices menu END -->