<div class="tab-pane fade" id="forms" role="tabpanel" aria-labelledby="forms-tab">
    <div class="row">
        <div class="col">
            <h2>Forms</h2>
            <p class="bd-lead">Examples and usage guidelines for form control styles, layout options, and custom components for creating a wide variety of forms.</p>
            <h3 id="formControls">Form controls</h3>
            <p>Textual form controls—like <code class="highlighter-rogue">&lt;input&gt;</code>s, <code class="highlighter-rogue">&lt;select&gt;</code>s, and <code class="highlighter-rogue">&lt;textarea&gt;</code>s—are styled with the <code class="highlighter-rogue">.form-control</code> class. Included are styles for general appearance, focus state, sizing, and more.</p>
            <h4>Inputs</h4>
            <div class="bd-callout bd-callout-info">
                <p>Be sure to use an appropriate type attribute on all inputs (e.g., <code class="highlighter-rogue">email</code> for email address or <code class="highlighter-rogue">number</code> for numerical information) to take advantage of newer input controls like email verification, number selection, and more.</p>
                <p>Input types available include:</p>
                <ul>
                    <li><code class="highlighter-rogue">type="date"</code> - used for inputs that should contain a date</li>
                    <li><code class="highlighter-rogue">type="email"</code> - used for input fields that should contain an e-mail address</li>
                    <li><code class="highlighter-rogue">type="file"</code> - defines a file-select field and a "Browse" button for file uploads (refer to example below).</li>
                    <li><code class="highlighter-rogue">type="number"</code> - defines a numeric input field</li>
                    <li><code class="highlighter-rogue">type="password"</code> - defines a password field and masks the characters entered</li>
                    <li><code class="highlighter-rogue">type="search"</code> - used for search fields (a search field behaves like a regular text field)</li>
                    <li><code class="highlighter-rogue">type="text"</code> - defines a one-line text input field</li>
                    <li><code class="highlighter-rogue">type="time"</code> - allows the user to select a time (no time zone)</li>
                    <li><code class="highlighter-rogue">type="url"</code> - used for input fields that should contain a URL address.</li>
                </ul>
                <p>Refer to the <strong>Buttons</strong> component for usage of <code class="highlighter-rogue">type="submit"</code> and <code class="highlighter-rogue">type="reset"</code>.</p>
            </div>
            <h5>Example</h5>
            <div class="bd-example">
                <div class="form-group">
                    <label for="text">Text input</label>
                    <input type="text" class="form-control" id="text" name="text" placeholder="Enter text...">
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#inputText"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="inputText">&lt;div class="form-group"&gt;
    &lt;label for="text"&gt;<span>Text input</span>&lt;/label&gt;
    &lt;input type="text" class="form-control" id="text" name="text" placeholder="Enter text..."&gt;
&lt;/div&gt;</code></pre>
            </figure>
            <div class="bd-example">
                <form>
                    <div class="form-group">
                        <label for="fileUploadField1">File upload</label>
                        <div class="custom-file">
                            <input type="file" id="fileUploadField1" class="form-control custom-file-input" name="fileUploadField">
                            <label class="custom-file-label">Choose file</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#inputFile1"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="inputFile1">&lt;div class="form-group"&gt;
    &lt;label for="file"&gt;<span>File input</span>&lt;/label&gt;
    &lt;input type="file" class="form-control-file" id="file" name="file"&gt;
&lt;/div&gt;</code></pre>
            </figure>
            <h4>Select menu</h4>
            <p>The <code class="highlighter-rogue">&lt;select&gt;</code> element defines a list to select one or more options from. Add the <code class="highlighter-rogue">multiple</code> attribute to select multiple options.</p>
            <p></p>
            <div class="bd-example">
                <div class="form-group">
                    <label for="select">Select one</label>
                    <select class="form-control" id="select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#select"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="select">&lt;div class="form-group"&gt;
    &lt;label for="select"&gt;Example select&lt;/label&gt;
    &lt;select class="form-control" id="select"&gt;
        &lt;option&gt;<span>1</span>&lt;/option&gt;
        &lt;option&gt;<span>2</span>&lt;/option&gt;
        &lt;option&gt;<span>3</span>&lt;/option&gt;
        &lt;option&gt;<span>4</span>&lt;/option&gt;
        &lt;option&gt;<span>5</span>&lt;/option&gt;
    &lt;/select&gt;
&lt;/div&gt;</code></pre>
            </figure>
            <div class="bd-example">
                <div class="form-group">
                    <label for="select">Select multiple</label>
                    <select class="form-control" id="selectMultiple" multiple>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#selectMultiple"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="selectMultiple">&lt;div class="form-group"&gt;
    &lt;label for="select"&gt;Example select&lt;/label&gt;
    &lt;select class="form-control" id="select" multiple&gt;
        &lt;option&gt;<span>1</span>&lt;/option&gt;
        &lt;option&gt;<span>2</span>&lt;/option&gt;
        &lt;option&gt;<span>3</span>&lt;/option&gt;
        &lt;option&gt;<span>4</span>&lt;/option&gt;
        &lt;option&gt;<span>5</span>&lt;/option&gt;
    &lt;/select&gt;
&lt;/div&gt;</code></pre>
            </figure>
            <h4>Textarea</h4>
            <p>The <code class="highlighter-rogue">&lt;textarea&gt;</code> element defines a multi-line input field (a text area):</p>
            <div class="bd-example">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#textarea"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="textarea">&lt;div class="form-group"&gt;
    &lt;label for="textarea"&gt;Textarea&lt;/label&gt;
    &lt;textarea class="form-control" id="textarea" rows="3"&gt;&lt;/textarea&gt;
&lt;/div&gt;</code></pre>
            </figure>
            <h4>Sizing</h4>
            <p>Set heights using classes like <code class="highlight-rogue">.form-control-lg</code> and <code class="highlight-rogue">.form-control-sm</code>.</p>
            <div class="bd-example">
                <input class="form-control form-control-lg" type="text" placeholder="Large input">
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#inputLg"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="inputLg">&lt;input class="form-control form-control-lg" type="text" placeholder="Large input"&gt;</code></pre>
            </figure>
            <div class="bd-example">
                <select class="form-control form-control-sm">
                    <option>Small select</option>
                </select>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#selectSm"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="selectSm">&lt;select class="form-control form-control-sm"&gt;
    &lt;option&gt;<span>Small select</span>&lt;/option&gt;
&lt;/select&gt;</code></pre>
            </figure>
            <h4>Readonly</h4>
            <p>Add the <code class="highlighter-rogue">readonly</code> boolean attribute on an input to prevent modification of the input’s value. Read-only inputs appear lighter (just like disabled inputs), but retain the standard cursor.</p>
            <div class="bd-example">
                <input class="form-control" type="text" placeholder="Readonly input here…" readonly>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#readonly"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="readonly">&lt;input class="form-control" type="text" placeholder="Readonly input here…" readonly&gt;</code></pre>
            </figure>
            <h5>Readonly plain text</h5>
            <p>If you want to have <code class="highlighter-rogue">&lt;input readonly&gt;</code> elements in your form styled as plain text, use the <code class="highlighter-rogue">.form-control-plaintext</code> class to remove the default form field styling and preserve the correct margin and padding.</p>
            <div class="bd-example">
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#readonlyPlainText"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="readonlyPlainText">&lt;div class="form-group row"&gt;
    &lt;label for="staticEmail" class="col-sm-2 col-form-label"&gt;<span>Email</span>&lt;/label&gt;
    &lt;div class="col-sm-10"&gt;
        &lt;input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com"&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="form-group row"&gt;
    &lt;label for="inputPassword" class="col-sm-2 col-form-label"&gt;<span>Password</span>&lt;/label&gt;
    &lt;div class="col-sm-10"&gt;
        &lt;input type="password" class="form-control" id="inputPassword" placeholder="Password"&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </figure>
            <h4> Checkboxes and radios</h4>
            <h5>Stacked (default)</h5>
            <p>By default, any number of checkboxes and radios that are immediate sibling will be vertically stacked and appropriately spaced with <code class="highlighter-rogue">.form-check</code>.</p>
            <div class="bd-example">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                    <label class="form-check-label" for="checkbox1">Checkbox 1</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkbox2">
                    <label class="form-check-label" for="checkbox2">Checkbox 2</label>
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#checkboxStacked"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="checkboxStacked">&lt;div class="form-check"&gt;
    &lt;input class="form-check-input" type="checkbox" value="" id="checkbox1"&gt;
    &lt;label class="form-check-label" for="checkbox1"&gt;<span>Checkbox 1</span>&lt;/label&gt;
&lt;/div&gt;
&lt;div class="form-check"&gt;
    &lt;input class="form-check-input" type="checkbox" value="" id="checkbox2"&gt;
    &lt;label class="form-check-label" for="checkbox2"&gt;<span>Checkbox 2</span>&lt;/label&gt;
&lt;/div&gt;</code></pre>
            </figure>
            <div class="bd-example">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="" id="radio1">
                    <label class="form-check-label" for="radio1">Radio 1</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="" id="radio2">
                    <label class="form-check-label" for="radio2">Radio 2</label>
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#checkboxStacked"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="checkboxStacked">&lt;div class="form-check"&gt;
    &lt;input class="form-check-input" type="radio" value="" id="radio1"&gt;
    &lt;label class="form-check-label" for="radio1"&gt;<span>Radio 1</span>&lt;/label&gt;
&lt;/div&gt;
&lt;div class="form-check"&gt;
    &lt;input class="form-check-input" type="radio" value="" id="radio2"&gt;
    &lt;label class="form-check-label" for="radio2"&gt;<span>Radio 2</span>&lt;/label&gt;
&lt;/div&gt;</code></pre>
            </figure>
            <hr />
            <h3 id="formLayout">Layout</h3>
            <p>Since Bootstrap applies <code class="highlighter-rogue">display: block</code> and <code class="highlighter-rogue">width: 100%</code> to almost all our form controls, forms will by default stack vertically. Additional classes can be used to vary this layout on a per-form basis.</p>
            <h4>Form groups</h4>
            <p>The <code class="highlighter-rogue">.form-group</code> class is the easiest way to add some structure to forms. It provides a flexible class that encourages proper grouping of labels, controls, optional help text, and form validation messaging. By default it only applies <code class="highlighter-rogue">margin-bottom</code>, but it picks up additional styles in <code class="highlighter-rogue">.form-inline</code> as needed. Use it with <code class="highlighter-rogue">&lt;fieldset&gt;</code>s, <code class="highlighter-rogue">&lt;div&gt;</code>s, or nearly any other element.</p>
            <form>
                <div class="form-group">
                    <label for="formGroupExampleInput">Example label</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Another label</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                </div>
            </form>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#formGroup"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="formGroup">&lt;form&gt;
    &lt;div class="form-group"&gt;
        &lt;label for="formGroupExampleInput"&gt;<span>Example label</span>&lt;/label&gt;
        &lt;input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input"&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
        &lt;label for="formGroupExampleInput2"&gt;<span>Another label</span>&lt;/label&gt;
        &lt;input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input"&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
            </figure>
            <h4>Form grid</h4>
            <p>More complex forms can be built using our grid classes. Use these for form layouts that require multiple columns, varied widths, and additional alignment options.</p>
            <div class="bd-example">
                <form>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="First name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Last name">
                        </div>
                    </div>
                </form>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#formGrid"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="formGrid">&lt;form&gt;
    &lt;div class="row"&gt;
        &lt;div class="col"&gt;
            &lt;input type="text" class="form-control" placeholder="First name"&gt;
        &lt;/div&gt;
        &lt;div class="col"&gt;
            &lt;input type="text" class="form-control" placeholder="Last name"&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
            </figure>
            <p>More complex layouts can also be created with the grid system.</p>
            <div class="bd-example">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="First name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Last name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">Check me out</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#formGridMore"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="formGridMore">&lt;form&gt;
    &lt;div class="form-row"&gt;
        &lt;div class="form-group col-md-6"&gt;
            &lt;label for="inputEmail4"&gt;<span>Email</span>&lt;/label&gt;
            &lt;input type="email" class="form-control" id="inputEmail4" placeholder="Email"&gt;
        &lt;/div&gt;
        &lt;div class="form-group col-md-6"&gt;
            &lt;label for="inputPassword4"&gt;<span>Password</span>&lt;/label&gt;
            &lt;input type="password" class="form-control" id="inputPassword4" placeholder="Password"&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
        &lt;label for="inputAddress"&gt;<span>Address</span>&lt;/label&gt;
        &lt;input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
        &lt;label for="inputAddress2"&gt;<span>Address 2</span>&lt;/label&gt;
        &lt;input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"&gt;
    &lt;/div&gt;
    &lt;div class="form-row"&gt;
        &lt;div class="form-group col-md-6"&gt;
            &lt;label for="inputCity"&gt;<span>City</span>&lt;/label&gt;
            &lt;input type="text" class="form-control" id="inputCity"&gt;
        &lt;/div&gt;
        &lt;div class="form-group col-md-4"&gt;
            &lt;label for="inputState"&gt;<span>State</span>&lt;/label&gt;
            &lt;select id="inputState" class="form-control"&gt;
                &lt;option selected&gt;<span>Choose...</span>&lt;/option&gt;
                &lt;option&gt;<span>...</span>&lt;/option&gt;
            &lt;/select&gt;
        &lt;/div&gt;
        &lt;div class="form-group col-md-2"&gt;
            &lt;label for="inputZip"&gt;<span>Zip</span>&lt;/label&gt;
            &lt;input type="text" class="form-control" id="inputZip"&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
        &lt;div class="form-check"&gt;
            &lt;input class="form-check-input" type="checkbox" id="gridCheck"&gt;
            &lt;label class="form-check-label" for="gridCheck"&gt;<span>Check me out</span>&lt;/label&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;button type="submit" class="btn btn-primary"&gt;<span>Sign in</span>&lt;/button&gt;
&lt;/form&gt;</code></pre>
            </figure>
            <div class="bd-callout bd-callout-warning">
                <h5>Alternatives to hidden labels</h5>
                <p>Assistive technologies such as screen readers will have trouble with your forms if you don’t include a label for every input. For these inline forms, you can hide the labels using the <code class="highlighter-rogue">.sr-only class</code>. There are further alternative methods of providing a label for assistive technologies, such as the <code class="highlighter-rogue">aria-label</code>, <code class="highlighter-rogue">aria-labelledby</code> or <code class="highlighter-rogue">title attribute</code>. If none of these are present, assistive technologies may resort to using the <code class="highlighter-rogue">placeholder</code> attribute, if present, but note that use of <code class="highlighter-rogue">placeholder</code> as a replacement for other labelling methods is not advised.</p>
            </div>
            <hr />
            <h3 id="formHelpText">Help Text</h3>
            <p>Block-level help text in forms can be created using <code class="highlighter-rogue">.form-text</code>. Inline help text can be flexibly implemented using any inline HTML element and utility classes like <code class="highlighter-rogue">.text-muted</code>.</p>
            <div class="bd-callout bd-callout-warning">
                <h5>Associating help text with form controls</h5>
                <p>Help text should be explicitly associated with the form control it relates to using the <code class="highlighter-rogue">aria-describedby</code> attribute. This will ensure that assistive technologies—such as screen readers—will announce this help text when the user focuses or enters the control.</p>
            </div>
            <p>Help text below inputs can be styled with <code class="highlighter-rogue">.form-text</code>. This class includes <code class="highlighter-rogue">display: block</code> and adds some top margin for easy spacing from the inputs above.</p>
            <div class="bd-example">
                <form>
                    <label for="inputPassword5">Password</label>
                    <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                    <small id="passwordHelpBlock" class="form-text text-muted">
                      Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                    </small>
                </form>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#formHelpText"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="formHelpText">&lt;form&gt;
    &lt;label for="inputPassword5"&gt;<span>Password</span>&lt;/label&gt;
    &lt;input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"&gt;
    &lt;small id="passwordHelpBlock" class="form-text text-muted"&gt;
      <span>Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.</span>
    &lt;/small&gt;
&lt;/form&gt;</code></pre>
            </figure>
            <p>Inline text can use any typical inline HTML element (be it a <code class="highlighter-rogue">&lt;small&gt;</code>, <code class="highlighter-rogue">&lt;span&gt;</code>, or something else) with nothing more than a utility class.</p>
            <div class="bd-example">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="inputPassword6">Password</label>
                        <input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                        <small id="passwordHelpInline" class="text-muted">
                          Must be 8-20 characters long.
                        </small>
                    </div>
                </form>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#formHelpTextInline"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="formHelpTextInline">&lt;form class="form-inline"&gt;
    &lt;div class="form-group"&gt;
        &lt;label for="inputPassword6"&gt;<span>Password</span>&lt;/label&gt;
        &lt;input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline"&gt;
        &lt;small id="passwordHelpInline" class="text-muted"&gt;
          <span>Must be 8-20 characters long.</span>
        &lt;/small&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
            </figure>
            <hr />
            <h3 id="disabledForms">Disabled forms</h3>
            <p>Add the <code class="highlighter-rogue">disabled</code> boolean attribute on an input to prevent user interactions and make it appear lighter.</p>
            <div class="bd-example">
                <form>
                    <input class="form-control" id="disabledInput" type="text" placeholder="This field is disabled" disabled>
                </form>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#fieldDisabled"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="fieldDisabled">&lt;form&lt;
    &lt;input class="form-control" id="disabledInput" type="text" placeholder="This field is disabled" disabled&lt;
&lt;/form&lt;</code></pre>
            </figure>
            <p>Add the disabled attribute to a <code class="highlighter-rogue">&lt;fieldset&gt;</code> to disable all the controls within.</p>
            <div class="bd-example">
                <form>
                    <fieldset disabled>
                        <div class="form-group">
                            <label for="disabledTextInput">Disabled input</label>
                            <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                        </div>
                        <div class="form-group">
                            <label for="disabledSelect">Disabled select menu</label>
                            <select id="disabledSelect" class="form-control">
                                <option>Disabled select</option>
                            </select>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
                            <label class="form-check-label" for="disabledFieldsetCheck">
                                Can't check this
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </fieldset>
                </form>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#formDisabled"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="formDisabled">&lt;form&gt;
    &lt;fieldset disabled&gt;
        &lt;div class="form-group"&gt;
            &lt;label for="disabledTextInput"&gt;<span>Disabled input</span>&lt;/label&gt;
            &lt;input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input"&gt;
        &lt;/div&gt;
        &lt;div class="form-group"&gt;
            &lt;label for="disabledSelect"&gt;<span>Disabled select menu</span>&lt;/label&gt;
            &lt;select id="disabledSelect" class="form-control"&gt;
                &lt;option&gt;<span>Disabled select</span>&lt;/option&gt;
            &lt;/select&gt;
        &lt;/div&gt;
        &lt;div class="form-check"&gt;
            &lt;input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled&gt;
            &lt;label class="form-check-label" for="disabledFieldsetCheck"&gt;
                <span>Can't check this</span>
            &lt;/label&gt;
        &lt;/div&gt;
        &lt;button type="submit" class="btn btn-primary"&gt;<span>Submit</span>&lt;/button&gt;
    &lt;/fieldset&gt;
&lt;/form&gt;</code></pre>
            </figure>
            <hr />
            <h3 id="formValidation">Form validation</h3>
            <p>Client side form validation is handled using <a href="https://jqueryvalidation.org/">jQuery.validate.js</a>.</p>
            <div class="bd-callout bd-callout-info">
                <p>Each field that is to be validated must have a unqique <code class="highlighter-rogue">name</code> attribute.</p>
            </div>
            <div class="bd-example">
                <form id="sampleForm" method="post" action="" novalidate="novalidate">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="textField">Text field</label>
                                <input type="text" id="textFieldNormal" class="form-control" name="textField" placeholder="Can use any characters" aria-required="true">
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group is-invalid has-feedback">
                                <label for="textField">Invalid text field</label>
                                <input type="text" id="textFieldInvalid" class="form-control" name="textField" placeholder="Can use any characters" aria-required="true" aria-describedby="textField-error" aria-invalid="true"><span class="fas fa-exclamation-triangle form-control-feedback"></span>
                                <em id="textField-error" class="is-invalid help-block">Please add some text.</em>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-feedback is-valid">
                                <label for="textField">Valid text field</label>
                                <input type="text" id="textFieldValid" class="form-control" name="textField" placeholder="Can use any characters" aria-required="true" aria-describedby="textField-error" aria-invalid="false"><span class="fas form-control-feedback fa-check"></span>
                                <em id="textField-error" class="is-invalid help-block"></em>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#formInlineValidation"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="formInlineValidation">&lt;form id="sampleForm" method="post" action="" novalidate="novalidate"&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-4 mb-3"&gt;
            &lt;div class="form-group"&gt;
                &lt;label for="textField"&gt;<span>Text field</span>&lt;/label&gt;
                &lt;input type="text" id="textField" class="form-control" name="textField" placeholder="Can use any characters"&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="col-md-4 offset-md-2"&gt;
            &lt;div class="form-group"&gt;
                &lt;label for="numberField"&gt;<span>Number field (+/-)</span>&lt;/label&gt;
                &lt;input type="number" id="numberField" class="form-control" name="numberField" placeholder="Numbers only"&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-4 mb-3"&gt;
            &lt;div class="form-group"&gt;
                &lt;label for="emailField"&gt;<span>Email field</span>&lt;/label&gt;
                &lt;input type="email" id="emailField" class="form-control" name="emailField" placeholder="Valid email address"&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="col-md-4 offset-md-2"&gt;
            &lt;div class="form-group"&gt;
                &lt;label for="passwordField"&gt;<span>Password field</span>&lt;/label&gt;
                &lt;input type="password" id="passwordField" class="form-control" name="passwordField"&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-4 mb-3"&gt;
            &lt;div class="form-group"&gt;
                &lt;label for="dateField"&gt;<span>Date field (uses the HTML5 datepicker by default)</span>&lt;/label&gt;
                &lt;input type="date" id="dateField" class="form-control" name="dateField"&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="col-md-4 offset-md-2"&gt;
            &lt;div class="form-group"&gt;
                &lt;label for="urlField"&gt;<span>URL field</span>&lt;/label&gt;
                &lt;input type="url" id="urlField" class="form-control" name="urlField" value="http://"&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-4 mb-3"&gt;
            &lt;div class="form-group"&gt;
                &lt;label for="selectField"&gt;<span>Select field</span>&lt;/label&gt;
                &lt;select id="selectField" class="form-control" name="selectField"&gt;
                    &lt;option value=""&gt;<span>Choose...</span>&lt;/option&gt;
                    &lt;option value="1"&gt;<span>One</span>&lt;/option&gt;
                    &lt;option value="2"&gt;<span>Two</span>&lt;/option&gt;
                    &lt;option value="3"&gt;<span>Three</span>&lt;/option&gt;
                &lt;/select&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="col-md-4 offset-md-2"&gt;
            &lt;div class="form-group"&gt;
                &lt;label for="selectMultipleField"&gt;<span>Select multiple field</span>&lt;/label&gt;
                &lt;select id="selectMultipleField" class="form-control" name="selectMultipleField" size="3" multiple=""&gt;
                    &lt;option value="1"&gt;<span>One</span>&lt;/option&gt;
                    &lt;option value="2"&gt;<span>Two</span>&lt;/option&gt;
                    &lt;option value="3"&gt;<span>Three</span>&lt;/option&gt;
                    &lt;option value="4"&gt;<span>Four</span>&lt;/option&gt;
                    &lt;option value="5"&gt;<span>Five</span>&lt;/option&gt;
                &lt;/select&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-4 mb-3"&gt;
            &lt;div class="form-group"&gt;
                &lt;label for="textareaField"&gt;<span>Textarea</span>&lt;/label&gt;
                &lt;textarea id="textareaField" class="form-control" name="textareaField" rows="3" placeholder="Type here..."&gt;&lt;/textarea&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="col-md-4 offset-md-2"&gt;
            &lt;div class="form-group"&gt;
                &lt;label for="fileUploadField"&gt;<span>File upload</span>&lt;/label&gt;
                &lt;div class="custom-file"&gt;
                    &lt;input type="file" id="fileUploadField" class="form-control custom-file-input" name="fileUploadField"&gt;
                    &lt;label class="custom-file-label"&gt;<span>Choose file</span>&lt;/label&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-2 mb-3"&gt;
            &lt;div class="form-group"&gt;
                &lt;label for="checkboxGroup"&gt;<span>Checkbox (single)</span>&lt;/label&gt;
                &lt;div class="form-check"&gt;
                    &lt;input type="checkbox" id="checkboxSingle" class="form-check-input" name="checkboxSingle"&gt;
                    &lt;label class="form-check-label" for="checkbox"&gt;<span>Checkbox</span>&lt;/label&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="col-md-2 mb-3"&gt;
            &lt;fieldset&gt;
                &lt;legend&gt;<span>Checkbox group</span>&lt;/legend&gt;
                &lt;div class="form-group"&gt;
                    &lt;div class="form-check"&gt;
                        &lt;input type="checkbox" id="checkboxGroup1" class="form-check-input" name="checkboxGroup"&gt;
                        &lt;label class="form-check-label" for="checkboxGroup1"&gt;<span>Checkbox 1</span>&lt;/label&gt;
                    &lt;/div&gt;
                    &lt;div class="form-check"&gt;
                        &lt;input type="checkbox" id="checkboxGroup2" class="form-check-input" name="checkboxGroup"&gt;
                        &lt;label class="form-check-label" for="checkboxGroup2"&gt;<span>Checkbox 2</span>&lt;/label&gt;
                    &lt;/div&gt;
                    &lt;div class="form-check"&gt;
                        &lt;input type="checkbox" id="checkboxGroup3" class="form-check-input" name="checkboxGroup"&gt;
                        &lt;label class="form-check-label" for="checkboxGroup3"&gt;<span>Checkbox 3</span>&lt;/label&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/fieldset&gt;
        &lt;/div&gt;
        &lt;div class="col-md-2 offset-md-2"&gt;
            &lt;fieldset&gt;
                &lt;legend&gt;<span>Radio group</span>&lt;/legend&gt;
                &lt;div class="form-group"&gt;
                    &lt;div class="form-check"&gt;
                        &lt;input type="radio" id="radioGroup1" class="form-check-input" name="radioGroup"&gt;
                        &lt;label class="form-check-label" for="radio1"&gt;<span>Radio 1</span>&lt;/label&gt;
                    &lt;/div&gt;
                    &lt;div class="form-check"&gt;
                        &lt;input type="radio" id="radioGroup2" class="form-check-input" name="radioGroup"&gt;
                        &lt;label class="form-check-label" for="radio2"&gt;<span>Radio 2</span>&lt;/label&gt;
                    &lt;/div&gt;
                    &lt;div class="form-check"&gt;
                        &lt;input type="radio" id="radioGroup3" class="form-check-input" name="radioGroup"&gt;
                        &lt;label class="form-check-label" for="radio3"&gt;<span>Radio 3</span>&lt;/label&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/fieldset&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-4 offset-md-4 mb-3 text-center"&gt;
            &lt;button type="submit" class="btn btn-primary" name="form2Submit" value="Submit form"&gt;<span>Submit form</span>&lt;/button&gt;
            &lt;button type="reset" class="btn btn-light"&gt;<span>Reset form</span>&lt;/button&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
            </figure> -->
            <figure class="highlight">
                <p>Refer to the project files for the <a href="https://github.com/mtbotherd/form-validation/blob/master/src/index.html">HTML markup</a> and <a href="https://github.com/mtbotherd/form-validation/blob/master/src/js/form-validation.js">JavaScript</a>.</p>
            </figure>
        </div>
        <div class="col-2">
            <partial src="partials/cl/subnav/forms-subnav.html" />
        </div>
    </div>
</div>
