<div class="tab-pane fade" id="list-group" role="tabpanel" aria-labelledby="list-group-tab">
    <div class="row">
        <div class="col">
            <h2>List Group</h2>
            <p class="bd-lead">List groups are a flexible and powerful component for displaying a series of content. Modify and extend them to support just about any content within.</p>
            <h3 id="listGroupExample">Links &amp; buttons</h3>
            <p>Use <code class="highlighter-rogue">&lt;a&gt;</code>s or <code class="highlighter-rogue">&lt;button&gt;</code>s to create actionable list group items with hover, disabled, and active states by adding <code class="highlighter-rogue">.list-group-item-action</code>. We separate these pseudo-classes to ensure list groups made of non-interactive elements (like <code class="highlighter-rogue">&lt;li&gt;</code>s or <code class="highlighter-rogue">&lt;div&gt;</code>s) don’t provide a click or tap affordance.</p>
            <div class="bd-callout bd-callout-warning">
                <p>Be sure to not use the standard <code class="highlighter-rogue">.btn</code> classes here.</p>
            </div>
            <div class="bd-example">
                <ul class="list-group">
                    <li class="list-group-item active">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#listGroup"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="listGroup">&lt;ul class="list-group"&gt;
    &lt;li class="list-group-item active"&gt;Cras justo odio&lt;/li&gt;
    &lt;li class="list-group-item"&gt;Dapibus ac facilisis in&lt;/li&gt;
    &lt;li class="list-group-item"&gt;Morbi leo risus&lt;/li&gt;
    &lt;li class="list-group-item"&gt;Porta ac consectetur ac&lt;/li&gt;
    &lt;li class="list-group-item"&gt;Vestibulum at eros&lt;/li&gt;
&lt;/ul&gt;</code></pre>
            </figure>
        </div>
        <div class="col-2">
            <partial src="partials/cl/subnav/list-group-subnav.html" />
        </div>
    </div>
</div>
