<div class="tab-pane fade" id="list-group" role="tabpanel" aria-labelledby="list-group-tab">
    <div class="row">
        <div class="col">
            <h2>List Group</h2>
            <p class="bd-lead">List groups are a flexible and powerful component for displaying a series of content. Modify and extend them to support just about any content within.</p>
            <p>Although there are several use cases for list groups, the examples below are the variations available for use on metrotransit.org.</p>
            <h3 id="listGroupSideNavigation">As side navigation</h3>
            <p>Use <code class="highlighter-rogue">&lt;a&gt;</code>s or <code class="highlighter-rogue">&lt;button&gt;</code>s to create actionable list group items with hover, disabled, and active states by adding <code class="highlighter-rogue">.list-group-item-action</code>. We separate these pseudo-classes to ensure list groups made of non-interactive elements (like <code class="highlighter-rogue">&lt;li&gt;</code>s or <code class="highlighter-rogue">&lt;div&gt;</code>s) don’t provide a click or tap affordance.</p>
            <div class="bd-callout bd-callout-warning">
                <p>Be sure to not use the standard <code class="highlighter-rogue">.btn</code> classes here.</p>
            </div>
            <div class="bd-callout bd-callout-danger">
                <p>The <code class="highlighter-rogue">disabled</code> attribute is not supported with <code class="highlighter-rogue">&lt;a&gt;</code> tags.  Use the <code class="highlighter-rogue">&lt;button&gt;</code> tag instead when needing to show the disabled state.</p>
            </div>
            <div class="bd-example">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Link 1</a>
                    <a href="#" class="list-group-item list-group-item-action">Link 2</a>
                    <a href="#" class="list-group-item list-group-item-action">Link 3</a>
                    <a href="#" class="list-group-item list-group-item-action">Link 4</a>
                    <button class="list-group-item list-group-item-action" disabled>Link 5</button>
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#listGroup"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="listGroup">&lt;div class="list-group"&gt;
    &lt;a href="#" class="list-group-item list-group-item-action active"&gt;<span>Link 1</span>&lt;/a&gt;
    &lt;a href="#" class="list-group-item list-group-item-action"&gt;<span>Link 2</span>&lt;/a&gt;
    &lt;a href="#" class="list-group-item list-group-item-action"&gt;<span>Link 3</span>&lt;/a&gt;
    &lt;a href="#" class="list-group-item list-group-item-action"&gt;<span>Link 4</span>&lt;/a&gt;
    &lt;button class="list-group-item list-group-item-action" disabled&gt;<span>Link 5</span>&lt;/button&gt;
&lt;/div&gt;</code></pre>
            </figure>
            <h4>Active items</h4>
            <p>The active item gets the <code class="highlighter-rogue">.active</code> class appended to the <code class="highlighter-rogue">.list-group-item</code> class.</p>
            <div class="bd-example">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">Link 1</a>
                    <a href="#" class="list-group-item list-group-item-action">Link 2</a>
                    <a href="#" class="list-group-item list-group-item-action">Link 3</a>
                    <a href="#" class="list-group-item list-group-item-action">Link 4</a>
                    <button class="list-group-item list-group-item-action" disabled>Link 5</button>
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#listGroup"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="listGroup">&lt;div class="list-group"&gt;
    &lt;a href="#" class="list-group-item list-group-item-action active"&gt;<span>Link 1</span>&lt;/a&gt;
    &lt;a href="#" class="list-group-item list-group-item-action"&gt;<span>Link 2</span>&lt;/a&gt;
    &lt;a href="#" class="list-group-item list-group-item-action"&gt;<span>Link 3</span>&lt;/a&gt;
    &lt;a href="#" class="list-group-item list-group-item-action"&gt;<span>Link 4</span>&lt;/a&gt;
    &lt;button class="list-group-item list-group-item-action" disabled&gt;<span>Link 5</span>&lt;/button&gt;
&lt;/div&gt;</code></pre>
            </figure>
            <h4>With badges</h4>
            <p>This example shows the badge being used to show a link that is not yet available, but will be soon.  Control spacing using <a href="https://getbootstrap.com/docs/4.1/utilities/flex/">Bootstrap's flexbox utilities</a>.  In this example the <code class="highlighter-rogue">.d-flex</code> and <code class="highlighter-rogue">.justify-content-between</code> classes were added to the disabled item to align the badge to the right of the link text.</p>
            <div class="bd-example">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">Link 1</a>
                    <a href="#" class="list-group-item list-group-item-action">Link 2</a>
                    <a href="#" class="list-group-item list-group-item-action">Link 3</a>
                    <a href="#" class="list-group-item list-group-item-action">Link 4</a>
                    <button class="list-group-item list-group-item-action d-flex justify-content-between" disabled>Link 5 <span class="badge badge-secondary">Coming soon!</span></button>
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#listGroup"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="listGroup">&lt;div class="list-group"&gt;
    &lt;a href="#" class="list-group-item list-group-item-action active"&gt;<span>Link 1</span>&lt;/a&gt;
    &lt;a href="#" class="list-group-item list-group-item-action"&gt;<span>Link 2</span>&lt;/a&gt;
    &lt;a href="#" class="list-group-item list-group-item-action"&gt;<span>Link 3</span>&lt;/a&gt;
    &lt;a href="#" class="list-group-item list-group-item-action"&gt;<span>Link 4</span>&lt;/a&gt;
    &lt;button class="list-group-item list-group-item-action d-flex justify-content-between" disabled&gt;<span>Link 5</span> &lt;span class="badge badge-secondary"&gt;<span>Coming soon!</span>&lt;/span&gt;&lt;/button&gt;
&lt;/div&gt;</code></pre>
            </figure>
            <hr />
            <h3 id="listGroupCustomContent">Custom content</h3>
            <p>Add nearly any HTML within, even for linked list groups like the one below, with the help of <a href="https://getbootstrap.com/docs/4.1/utilities/flex/">Bootstrap's flexbox utilities</a>.</p>
            <div class="bd-example">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small>3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small>Donec id elit non mi porta.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#listItemsCustomContent"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="listItemsCustomContent">&lt;div class="list-group"&gt;
    &lt;a href="#" class="list-group-item list-group-item-action flex-column align-items-start active"&gt;
        &lt;div class="d-flex w-100 justify-content-between"&gt;
            &lt;h5 class="mb-1"&gt;<span>List group item heading</span>&lt;/h5&gt;
            &lt;small&gt;<span>3 days ago</span>&lt;/small&gt;
        &lt;/div&gt;
        &lt;p class="mb-1"&gt;<span>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</span>&lt;/p&gt;
        &lt;small&gt;<span>Donec id elit non mi porta.</span>&lt;/small&gt;
    &lt;/a&gt;
    &lt;a href="#" class="list-group-item list-group-item-action flex-column align-items-start"&gt;
        &lt;div class="d-flex w-100 justify-content-between"&gt;
            &lt;h5 class="mb-1"&gt;<span>List group item heading</span>&lt;/h5&gt;
            &lt;small class="text-muted"&gt;<span>3 days ago</span>&lt;/small&gt;
        &lt;/div&gt;
        &lt;p class="mb-1"&gt;<span>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</span>&lt;/p&gt;
        &lt;small class="text-muted"&gt;<span>Donec id elit non mi porta.</span>&lt;/small&gt;
    &lt;/a&gt;
    &lt;a href="#" class="list-group-item list-group-item-action flex-column align-items-start"&gt;
        &lt;div class="d-flex w-100 justify-content-between"&gt;
            &lt;h5 class="mb-1"&gt;<span>List group item heading</span>&lt;/h5&gt;
            &lt;small class="text-muted"&gt;<span>3 days ago</span>&lt;/small&gt;
        &lt;/div&gt;
        &lt;p class="mb-1"&gt;<span>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</span>&lt;/p&gt;
        &lt;small class="text-muted"&gt;<span>Donec id elit non mi porta.</span>&lt;/small&gt;
    &lt;/a&gt;
&lt;/div&gt;</code></pre>
            </figure>
            <div class="bd-callout bd-callout-info">
                <p>Extended the list group to create <a href="https://getbootstrap.com/docs/4.1/components/list-group/#javascript-behavior">tabbable panes</a>.</p>
            </div>
        </div>
        <div class="col-2">
            <partial src="partials/cl/subnav/list-group-subnav.html" />
        </div>
    </div>
</div>
