<div class="tab-pane fade" id="modals" role="tabpanel" aria-labelledby="modals-tab">
    <div class="row">
        <div class="col">
            <h2>Modals</h2>
            <p class="bd-lead">Modals add dialogs for user notifications or custom content.</p>
            <h3>How it works</h3>
            <p>Be sure to read this list completely.</p>
            <ul>
                <li>Modals are built with HTML, CSS, and JavaScript. They’re positioned over everything else in the document and remove scroll from the <code class="highlighter-rogue">&lt;body&gt;</code> so that modal content scrolls instead.</li>
                <li>Clicking on the modal “backdrop” will automatically close the modal.</li>
                <li>Only one modal window is supported at a time. Nested modals aren’t supported as considered to be poor user experiences.</li>
                <li>Modals use <code class="highlighter-rogue">position: fixed</code>, which can sometimes be a bit particular about its rendering. Whenever possible, place your modal HTML in a top-level position to avoid potential interference from other elements. You’ll likely run into issues when nesting a <code class="highlighter-rogue">.modal</code> within another fixed element.</li>
                <li>Due to <code class="highlighter-rogue">position: fixed</code>, there are some caveats with using modals on mobile devices. Refer to <a href="https://getbootstrap.com/docs/4.1/getting-started/browsers-devices/#modals-and-dropdowns-on-mobile">Bootstrap's browser support docs</a> for details.</li>
                <li>Due to how HTML5 defines its semantics, the <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#attr-autofocus">autofocus HTML attribute</a> has no effect in Bootstrap modals. To achieve the same effect, use some custom JavaScript:</li>
            </ul>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#modalsAutofocus"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="modalsAutofocus">$('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
})</code></pre>
            </figure>
            <hr />
            <h3 id="modalExamples">Examples</h3>
            <h4>Modal components</h4>
            <p>Below is a static modal example. Included are the modal header, modal body (required for padding), and modal footer (optional).</p>
            <div class="bd-callout bd-callout-danger">
                <p>Modals should include modal headers with dismiss actions whenever necessary.</p>
            </div>
            <div class="bd-example">
                <div class="modal" id="staticModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Modal body content goes here.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="mt-3">Live demo</h4>
            <p>Toggle a working modal demo by clicking the button below. It will slide down and fade in from the top of the page.</p>
            <div class="bd-example">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#liveDemoModal">Launch demo modal</button>
                <div class="modal fade" id="liveDemoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Model body content goes here.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#modalsLiveDemo"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="modalsLiveDemo">&lt;button type="button" class="btn btn-primary" data-toggle="modal" data-target="#liveDemoModal"&gt;<span>Launch demo modal</span>&lt;/button&gt;
&lt;div class="modal fade" id="liveDemoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"&gt;
    &lt;div class="modal-dialog" role="document"&gt;
        &lt;div class="modal-content"&gt;
            &lt;div class="modal-header"&gt;
                &lt;h5 class="modal-title" id="exampleModalLabel"&gt;<span>Modal title</span>&lt;/h5&gt;
                &lt;button type="button" class="close" data-dismiss="modal" aria-label="Close"&gt;
                &lt;span aria-hidden="true"&gt;<span>&times;</span>&lt;/span&gt;
                &lt;/button&gt;
            &lt;/div&gt;
            &lt;div class="modal-body"&gt;
                &lt;p&gt;<span>Model body content goes here.</span>&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="modal-footer"&gt;
                &lt;button type="button" class="btn btn-secondary" data-dismiss="modal"&gt;<span>Close</span>&lt;/button&gt;
                &lt;button type="button" class="btn btn-primary"&gt;<span>Save changes</span>&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </figure>
            <h4>Scrolling long content</h4>
            <p>When modals become too long for the user’s viewport or device, they scroll independent of the page itself.</p>
            <div class="bd-example">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#scrollingLongContentModal">Launch demo modal</button>
                <div class="modal fade" id="scrollingLongContentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#modalsScrollingLongContent"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="modalsScrollingLongContent">&lt;button type="button" class="btn btn-primary" data-toggle="modal" data-target="#scrollingLongContentModal"&gt;<span>Launch demo modal</span>&lt;/button&gt;
&lt;div class="modal fade" id="scrollingLongContentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"&gt;
    &lt;div class="modal-dialog" role="document"&gt;
        &lt;div class="modal-content"&gt;
            &lt;div class="modal-header"&gt;
                &lt;h5 class="modal-title" id="exampleModalLabel"&gt;<span>Modal title</span>&lt;/h5&gt;
                &lt;button type="button" class="close" data-dismiss="modal" aria-label="Close"&gt;
                &lt;span aria-hidden="true"&gt;<span>&times;</span>&lt;/span&gt;
                &lt;/button&gt;
            &lt;/div&gt;
            &lt;div class="modal-body"&gt;
                <span>...</span>
            &lt;/div&gt;
            &lt;div class="modal-footer"&gt;
                &lt;button type="button" class="btn btn-secondary" data-dismiss="modal"&gt;<span>Close</span>&lt;/button&gt;
                &lt;button type="button" class="btn btn-primary"&gt;<span>Save changes</span>&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </figure>
            <h4 class="mt-3">Vertically centered</h4>
            <p>Toggle a working modal demo by clicking the button below. It will slide down and fade in from the top of the page.</p>
            <div class="bd-example">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#verticallyCenteredModal">Launch demo modal</button>
                <div class="modal fade" id="verticallyCenteredModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Model body content goes here.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#modalsVerticallyCentered"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="modalsVerticallyCentered">&lt;button type="button" class="btn btn-primary" data-toggle="modal" data-target="#verticallyCenteredModal"&gt;<span>Launch demo modal</span>&lt;/button&gt;
&lt;div class="modal fade" id="verticallyCenteredModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"&gt;
    &lt;div class="modal-dialog modal-dialog-centered" role="document"&gt;
        &lt;div class="modal-content"&gt;
            &lt;div class="modal-header"&gt;
                &lt;h5 class="modal-title" id="exampleModalLabel"&gt;<span>Modal title</span>&lt;/h5&gt;
                &lt;button type="button" class="close" data-dismiss="modal" aria-label="Close"&gt;
                &lt;span aria-hidden="true"&gt;<span>&times;</span>&lt;/span&gt;
                &lt;/button&gt;
            &lt;/div&gt;
            &lt;div class="modal-body"&gt;
                &lt;p&gt;<span>Model body content goes here.</span>&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="modal-footer"&gt;
                &lt;button type="button" class="btn btn-secondary" data-dismiss="modal"&gt;<span>Close</span>&lt;/button&gt;
                &lt;button type="button" class="btn btn-primary"&gt;<span>Save changes</span>&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </figure>
            <hr />
            <h3 id="modalsAccessibility">Accessibility</h3>
            <p>Be sure to add <code class="rogue-highlight">role="dialog"</code> and <code class="rogue-highlight">aria-labelledby="..."</code>, referencing the modal title, to <code class="rogue-highlight">.modal</code>, and <code class="rogue-highlight">role="document"</code> to the <code class="rogue-highlight">.modal-dialog</code> itself. Additionally, you may give a description of your modal dialog with <code class="rogue-highlight">aria-describedby</code> on <code class="rogue-highlight">.modal</code>.</p>
            <hr />
            <h3 id="modalsUsage">Usage</h3>
            <p>The modal plugin toggles your hidden content on demand, via data attributes or JavaScript. It also adds <code class="rogue-highlight">.modal-open</code> to the <code class="rogue-highlight">&lt;body&gt;</code> to override default scrolling behavior and generates a <code class="rogue-highlight">.modal-backdrop</code> to provide a click area for dismissing shown modals when clicking outside the modal. Refer to <a href="https://getbootstrap.com/docs/4.1/components/modal/#usage">Bootstrap's modal usage</a> for more info and code examples.</p>
        </div>
        <div class="col-2">
            <partial src="partials/cl/subnav/modals-subnav.html" />
        </div>
    </div>
</div>
