<div class="tab-pane fade" id="tooltips" role="tabpanel" aria-labelledby="tooltips-tab">
    <div class="row">
        <div class="col">
            <h2>Tooltips</h2>
            <p class="bd-lead">Documentation and examples for adding custom Bootstrap tooltips with CSS and JavaScript using CSS3 for animations and data-attributes for local title storage.</p>
            <h3 id="tooltipsOverview">Overview</h3>
            <p>Things to know when using the tooltip plugin:</p>
            <ul>
                <li>Tooltips rely on the 3rd party library <a href="https://popper.js.org/">Popper.js</a> for positioning. You must include <a href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">popper.min.js</a> before bootstrap.js or use <code class="highlighter-rouge">bootstrap.bundle.min.js</code> / <code class="highlighter-rouge">bootstrap.bundle.js</code> which contains Popper.js in order for tooltips to work!</li>
                <li>If you’re building our JavaScript from source, it <a href="/docs/4.1/getting-started/javascript/#util">requires <code class="highlighter-rouge">util.js</code></a>.</li>
                <li>Tooltips are opt-in for performance reasons, so <strong>you must initialize them yourself</strong>.</li>
                <li>Tooltips with zero-length titles are never displayed.</li>
                <li>Specify <code class="highlighter-rouge">container: 'body'</code> to avoid rendering problems in more complex components (like our input groups, button groups, etc).</li>
                <li>Triggering tooltips on hidden elements will not work.</li>
                <li>Tooltips for <code class="highlighter-rouge">.disabled</code> or <code class="highlighter-rouge">disabled</code> elements must be triggered on a wrapper element.</li>
                <li>When triggered from hyperlinks that span multiple lines, tooltips will be centered. Use <code class="highlighter-rouge">white-space: nowrap;</code> on your <code class="highlighter-rouge">&lt;a&gt;</code>s to avoid this behavior.</li>
                <li>Tooltips must be hidden before their corresponding elements have been removed from the DOM.</li>
            </ul>
            <hr />
            <h3 id="tooltipsExample">Example</h3>
            <p>Hover over the links below to see tooltips:</p>
            <div class="bd-example">
                <p class="muted">Tight pants next level keffiyeh <a href="#" data-toggle="tooltip" title="Default tooltip">you probably</a> haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel <a href="#" data-toggle="tooltip" title="Another tooltip">have a</a> terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. A really ironic artisan <a href="#" data-toggle="tooltip" title="Another one here too">whatever keytar</a>, scenester farm-to-table banksy Austin <a href="#" data-toggle="tooltip" title="The last tip!">twitter handle</a> freegan cred raw denim single-origin coffee viral.</p>
            </div>
            <p>Hover over the buttons below to see the four tooltips directions: top, right, bottom, and left.</p>
            <div class="bd-example">
                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>
                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>
                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>
                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>
            </div>
            <div class="bd-clipboard">
                <button class="btn-clipboard" data-toggle="tooltip" data-original-title="Copy to clipboard" data-clipboard-target="#tooltipsHoverTrigger"><i class="far fa-clipboard fa-2x"></i></button>
            </div>
            <figure class="highlight">
                <pre><code id="tooltipsHoverTrigger">&lt;button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top"&gt;<span>Tooltip on top</span>&lt;/button&gt;
&lt;button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Tooltip on right"&gt;<span>Tooltip on right</span>&lt;/button&gt;
&lt;button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom"&gt;<span>Tooltip on bottom</span>&lt;/button&gt;
&lt;button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="left" title="Tooltip on left"&gt;<span>Tooltip on left</span>&lt;/button></code></pre>
            </figure>
            <hr />
            <h3 id="tooltipsUsage"></h3>
            <p>The tooltip plugin generates content and markup on demand, and by default places tooltips after their trigger element.</p>
            <div class="bd-callout bd-callout-warning">
                <h5 id="overflow-auto-and-scroll">Overflow <code class="highlighter-rouge">auto</code> and <code class="highlighter-rouge">scroll</code></h5>
                <p>Tooltip position attempts to automatically change when a parent container has <code class="highlighter-rouge">overflow: auto</code> or <code class="highlighter-rouge">overflow: scroll</code> like our <code class="highlighter-rouge">.table-responsive</code>, but still keeps the original placement’s positioning. To resolve, set the <code class="highlighter-rouge">boundary</code> option to anything other than default value, <code class="highlighter-rouge">'scrollParent'</code>, such as <code class="highlighter-rouge">'window'</code>:</p>
                <div class="bd-clipboard"><button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button></div><figure class="highlight"><pre><code class="language-js" data-lang="js"><span class="nx">$</span><span class="p">(</span><span class="s1">'#example'</span><span class="p">).</span><span class="nx">tooltip</span><span class="p">({</span> <span class="na">boundary</span><span class="p">:</span> <span class="s1">'window'</span> <span class="p">})</span></code></pre></figure>
            </div>
            <h4>Markup</h4>
            <p>The required markup for a tooltip is only a <code class="highlighter-rouge">data</code> attribute and <code class="highlighter-rouge">title</code> on the HTML element you wish to have a tooltip. The generated markup of a tooltip is rather simple, though it does require a position (by default, set to <code class="highlighter-rouge">top</code> by the plugin).</p>
            <div class="bd-callout bd-callout-warning">
                <h5 id="making-tooltips-work-for-keyboard-and-assistive-technology-users">Making tooltips work for keyboard and assistive technology users</h5>
                <p>You should only add tooltips to HTML elements that are traditionally keyboard-focusable and interactive (such as links or form controls). Although arbitrary HTML elements (such as <code class="highlighter-rouge">&lt;span&gt;</code>s) can be made focusable by adding the <code class="highlighter-rouge">tabindex="0"</code> attribute, this will add potentially annoying and confusing tab stops on non-interactive elements for keyboard users. In addition, most assistive technologies currently do not announce the tooltip in this situation.</p>
                <p>Additionally, do not rely solely on <code class="highlighter-rouge">hover</code> as the trigger for your tooltip, as this will make your tooltips impossible to trigger for keyboard users.</p>
            </div>
            <p>For more on tooltip usage refer to <a href="https://getbootstrap.com/docs/4.1/components/tooltips/#usage">Bootstrap's Tooltip Usage</a> for examples.</p>
        </div>
        <div class="col-2">
            <partial src="partials/cl/subnav/tooltips-subnav.html" />
        </div>
    </div>
</div>
