/*****************************************
    Component Library base styles.
*****************************************/
h2 {
    border-bottom: 1px solid $gray-500;
}

/*****************************************
    Right sidebar styles.
*****************************************/
h3[id]:before {
    display: block;
    height: 6rem;
    margin-top: -6rem;
    visibility: hidden;
    content: "";
}
ul.subnav {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;

    &.sticky-offset {
        top: 77px;
    }
}
