/************************************************
    CL Sidebar Styles
************************************************/
body {
    padding-top: 61px;
}

.sticky-offset {
    top: 61px;
}
//
#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;
    background-color: #333;
    padding: 0;

    h2 {
        color: $gray-600;
        font-size: 1rem;
        font-weight: 100;
    }

    .nav-link {
        color: $white;
        border-bottom: 1px solid $gray-900;
        border-radius: 0;
        padding: 0.25rem 1rem;

        &:hover {
            background-color: $gray-600;
        }
    }

    .active {
        background-color: $gray-600;
    }
}
