<h2>Alerts</h2>
<!-- Primary alert -->
<div class="card">
    <!-- <div class="card-header">
        <h3>Primary alert</h3>
    </div> -->
    <div class="card-body">
        <div class="alert alert-primary" role="alert">
          This is a primary alert.
        </div>
        <figure>
            <code>
                &lt;div class="alert alert-primary" role="alert"&gt;This is a primary alert.&lt;/div&gt;
            </code>
        </figure>
    </div>
</div>

<!-- Secondary alert -->
<div class="card">
    <div class="card-body">
        <div class="alert alert-secondary" role="alert">
          This is a secondary alert.
        </div>
        <figure>
            <code>
                &lt;div class="alert alert-secondary" role="alert"&gt;This is a secondary alert.&lt;/div&gt;
            </code>
        </figure>
    </div>
</div>

<!-- Success alert -->
<div class="card">
    <div class="card-body">
        <div class="alert alert-success" role="alert">
          This is a success alert.
        </div>
        <figure>
            <code>
                &lt;div class="alert alert-success" role="alert"&gt;This is a success alert.&lt;/div&gt;
            </code>
        </figure>
    </div>
</div>

<!-- Danger alert -->
<div class="card">
    <div class="card-body">
        <div class="alert alert-danger" role="alert">
          This is a danger alert.
        </div>
        <figure>
            <code>
                &lt;div class="alert alert-danger" role="alert"&gt;This is a danger alert.&lt;/div&gt;
            </code>
        </figure>
    </div>
</div>

<!-- Warning alert -->
<div class="card">
    <div class="card-body">
        <div class="alert alert-warning" role="alert">
          This is a warning alert.
        </div>
        <figure>
            <code>
                &lt;div class="alert alert-warning" role="alert"&gt;This is a warning alert.&lt;/div&gt;
            </code>
        </figure>
    </div>
</div>

<!-- Info alert -->
<div class="card">
    <div class="card-body">
        <div class="alert alert-info" role="alert">
          This is a info alert.
        </div>
        <figure>
            <code>
                &lt;div class="alert alert-info" role="alert"&gt;This is a info alert.&lt;/div&gt;
            </code>
        </figure>
    </div>
</div>
