<div class="card-deck">
    <div class="card mb-3">
        <div class="card-header bg-blue">
            <h2>Brand Style Guide</h2>
        </div>
        <div class="card-body">
            <p class="card-text">Describes, defines and presents examples of Metro Transit's brand on the website including colors, fonts, sizes, spacing and whole lot more.</p>
        </div>
        <div class="card-footer text-center">
            <a href="brand-style-guide.html" class="btn btn-primary">Go to Brand Style Guide</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header bg-yellow">
            <h2>Pattern Library</h2>
        </div>
        <div class="card-body">
            <p class="card-text">A collection of user interface design elements used on metrotransit.org.</p>
            <!-- <small class="float-right"><i>Created by <a href="mailto:ellen.thomas@metrotransit.org">Ellen Thomas</a></i></small> -->
        </div>
        <div class="card-footer text-center">
            <a href="pattern-library.html" class="btn btn-warning btn-small">Go to Pattern Library</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header bg-red">
            <h2>Component Library</h2>
        </div>
        <div class="card-body">
            <p class="card-text">A collection of all the designed/styled parts of metrotransit.org</p>
            <!-- <small class="float-right"><i>Created by <a href="mailto:rich.bothe@metrotransit.org">Rich Bothe</a></i></small> -->
        </div>
        <div class="card-footer text-center">
            <a href="component-library.html" class="btn btn-danger btn-small">Go to Component Library</a>
        </div>
    </div>
</div>
