<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="card-body">
                <h2>Brand Style Guide</h2>
                <p class="card-text">Describes, defines and presents examples of Metro Transit's brand on the website including colors, fonts, sizes, spacing and more.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-3">
            <div class="card-body">
                <h2>Pattern Library</h2>
                <p class="card-text">A collection of user interface design elements.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-3">
            <div class="card-body">
                <h2>Component Library</h2>
                <p class="card-text">
                    Description goes here.
                </p>
            </div>
        </div>
    </div>
</div>
