<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h2>Style Guide</h2>
                <p class="card-text">
                    Description goes here.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h2>Pattern Library</h2>
                <p class="card-text">
                    Description goes here.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h2>Component Library</h2>
                <p class="card-text">
                    Description goes here.
                </p>
            </div>
        </div>
    </div>
</div>