<!-- This header is for index.html only -->
<nav class="navbar sticky-top navbar-light bg-light" aria-laebl="primary">
    <a class="skip-to-content" href="#mainContent">Skip to main content</a>
    <a class="navbar-brand" href="index.html">
        <img src="../images/t_logo_black.png" width="35" height="35" class="d-inline-block aling-top" alt="Metro Transit T logo" /> <span class="align-middle">Metro Transit <span class="d-none d-sm-inline-block">| <small><i>Website Design Guide</i></small></span></span>
    </a>
</nav>