<nav class="navbar sticky-top navbar-light bg-light" aria-laebl="primary">
    <a class="skip-to-content" href="#mainContent">Skip to main content</a>
    <div class="container">
        <a class="navbar-brand" href="index.html">
                <img src="../images/t_logo_black.png" width="35" height="35" class="d-inline-block aling-top" alt="Metro Transit T logo" /> <span class="align-middle">Metro Transit <span class="d-none d-sm-inline-block">| <small><i>Website Design Guide</i></small></span></span>
            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="brand-style-guide.html">Brand Style Guide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pattern-library.html">Pattern Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="component-library.html">Component Library</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
