<div id="sidebar-container" class="sidebar-expanded d-none d-md-block col-2">
    <!-- d-* hides the Sidebar in smaller devices. Its items can be kept on the Navbar 'Menu' -->
    <!-- Bootstrap List Group -->
    <ul class="list-group sticky-top sticky-offset">
        <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
            <small>MAIN MENU</small>
        </li>\
        <partial src="partials/bsg/bsg-left-nav.html" />
        <partial src="partials/pl/pl-left-nav.html" />
        <partial src="partials/cl/cl-left-nav.html" />
    </ul>
</div>