<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
                <img src="../images/t_logo_black.png" width="35" height="35" class="d-inline-block aling-top" alt="Metro Transit T logo" /> <span class="align-middle">Metro Transit</span>
                <!-- <img src="./images/MetroTransit_RGB.png" class="img-fluid" style="width:50%;" alt="Metro Transit logo" /> -->
            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav float-right">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Style Guide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pattern Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Component Library</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
