/************************************************
    Button Styles
************************************************/
a.btn {
    text-decoration: none;
    border-bottom: 0;
    color: $white;
}

.btn-warning:hover,
.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
    color: $white;
}
